<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.fhreservation.dao.RoomOptionalRoomDao">

	<select id="get" resultType="com.bootdo.fhreservation.domain.RoomOptionalRoomDO">
		select `optional_id`,`optional_room_id`,`room_id`,`create_time`,`create_by_id`,`create_by_name`,`update_time`,`update_by_id`,`update_by_name` from room_optional_room where optional_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.fhreservation.domain.RoomOptionalRoomDO">
		select `optional_id`,`optional_room_id`,`room_id`,`create_time`,`create_by_id`,`create_by_name`,`update_time`,`update_by_id`,`update_by_name` from room_optional_room
        <where>  
		  		  <if test="optionalId != null and optionalId != ''"> and optional_id = #{optionalId} </if>
		  		  <if test="optionalRoomId != null and optionalRoomId != ''"> and optional_room_id = #{optionalRoomId} </if>
		  		  <if test="roomId != null and roomId != ''"> and room_id = #{roomId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createById != null and createById != ''"> and create_by_id = #{createById} </if>
		  		  <if test="createByName != null and createByName != ''"> and create_by_name = #{createByName} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="updateById != null and updateById != ''"> and update_by_id = #{updateById} </if>
		  		  <if test="updateByName != null and updateByName != ''"> and update_by_name = #{updateByName} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by optional_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from room_optional_room
		 <where>  
		  		  <if test="optionalId != null and optionalId != ''"> and optional_id = #{optionalId} </if>
		  		  <if test="optionalRoomId != null and optionalRoomId != ''"> and optional_room_id = #{optionalRoomId} </if>
		  		  <if test="roomId != null and roomId != ''"> and room_id = #{roomId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createById != null and createById != ''"> and create_by_id = #{createById} </if>
		  		  <if test="createByName != null and createByName != ''"> and create_by_name = #{createByName} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="updateById != null and updateById != ''"> and update_by_id = #{updateById} </if>
		  		  <if test="updateByName != null and updateByName != ''"> and update_by_name = #{updateByName} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.fhreservation.domain.RoomOptionalRoomDO">
		insert into room_optional_room
		(
			`optional_id`, 
			`optional_room_id`, 
			`room_id`, 
			`create_time`, 
			`create_by_id`, 
			`create_by_name`, 
			`update_time`, 
			`update_by_id`, 
			`update_by_name`
		)
		values
		(
			#{optionalId}, 
			#{optionalRoomId}, 
			#{roomId}, 
			#{createTime}, 
			#{createById}, 
			#{createByName}, 
			#{updateTime}, 
			#{updateById}, 
			#{updateByName}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.fhreservation.domain.RoomOptionalRoomDO">
		update room_optional_room 
		<set>
			<if test="optionalRoomId != null">`optional_room_id` = #{optionalRoomId}, </if>
			<if test="roomId != null">`room_id` = #{roomId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createById != null">`create_by_id` = #{createById}, </if>
			<if test="createByName != null">`create_by_name` = #{createByName}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="updateById != null">`update_by_id` = #{updateById}, </if>
			<if test="updateByName != null">`update_by_name` = #{updateByName}</if>
		</set>
		where optional_id = #{optionalId}
	</update>
	
	<delete id="remove">
		delete from room_optional_room where optional_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from room_optional_room where optional_id in 
		<foreach item="optionalId" collection="array" open="(" separator="," close=")">
			#{optionalId}
		</foreach>
	</delete>

</mapper>