<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">
								<label class="col-sm-3 control-label">编号：</label>
								<div class="col-sm-8">
									<input id="statementRecordId" name="statementRecordId" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">声明人类型：</label>
								<div class="col-sm-8">
									<input id="statementType" name="statementType" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">声明人ID：</label>
								<div class="col-sm-8">
									<input id="statementById" name="statementById" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">声明人姓名：</label>
								<div class="col-sm-8">
									<input id="statementByName" name="statementByName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">声明时间：</label>
								<div class="col-sm-8">
									<input id="statementTime" name="statementTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否首次声明：</label>
								<div class="col-sm-8">
									<input id="isFirstStatus" name="isFirstStatus" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">声明是否有效：</label>
								<div class="col-sm-8">
									<input id="isEffectiveStatus" name="isEffectiveStatus" class="form-control" type="text">
								</div>
							</div>
								<!--						<div class="form-group">
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人：</label>
								<div class="col-sm-8">
									<input id="createById" name="createById" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人姓名：</label>
								<div class="col-sm-8">
									<input id="createByName" name="createByName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改人：</label>
								<div class="col-sm-8">
									<input id="updateById" name="updateById" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改人姓名：</label>
								<div class="col-sm-8">
									<input id="updateByName" name="updateByName" class="form-control" type="text">
								</div>
							</div>
										-->											<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/fhreservation/statementRecord/add.js">
	</script>
</body>
</html>
