<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="typeId" name="typeId" th:value="${type.typeId}"  type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">字典类型编码：</label>
								<div class="col-sm-8">
									<input id="typeNumber" name="typeNumber" th:value="${type.typeNumber}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">字典类型名称：</label>
								<div class="col-sm-8">
									<input id="typeName" name="typeName" th:value="${type.typeName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">字典类型描述：</label>
								<div class="col-sm-8">
									<input id="typeDesc" name="typeDesc" th:value="${type.typeDesc}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">是否可修改：</label>
								<div class="col-sm-8">
									<select class="form-control" id="canEdit" name="canEdit">
										<option th:value="${type.canEdit}" th:text="${type.canEdit}"></option>
										<option  th:if="${type.canEdit eq '是'}">否</option>
										<option  th:if="${type.canEdit eq '否'}">是</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/configuremanage/type/edit.js">
	</script>
</body>
</html>
