<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.fuHuiBookManage.dao.self.RoomConfigInfoSelfDao">


	<resultMap type="com.bootdo.fuHuiBookManage.domain.RoomConfigInfoDO" id="roomMap">
		<id property="roomConfigId" column="room_config_id"/>
		<result property="configId" column="config_id"/>
		<result property="createTime" column="create_time"/>
		<result property="createById" column="create_by_id"/>
		<result property="createByName" column="create_by_name"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateById" column="update_by_id"/>
		<result property="updateByName" column="update_by_name"/>
		<collection property="configManageDO" ofType="com.bootdo.fuHuiBookManage.domain.ConfigManageDO" column="configId">
			<id property="configId" column="config_id"/>
			<result property="configName" column="config_name"/>
			<result property="configImageId" column="config_image_id"/>
			<result property="configNumber" column="config_number"/>
			<result property="configStatus" column="config_status"/>
			<result property="configDesc" column="config_desc"/>
			<result property="configAnnotation" column="config_annotation"/>
			<result property="createTime" column="create_time"/>
			<result property="createById" column="create_by_id"/>
			<result property="createByName" column="create_by_name"/>
			<result property="updateTime" column="update_time"/>
			<result property="updateById" column="update_by_id"/>
			<result property="updateByName" column="update_by_name"/>
			<result property="isDelete" column="is_delete"/>
		</collection>
	</resultMap>
	<select id="selfList" resultMap="roomMap">
	     select M.config_name FROM room_config_manage M,room_config_info C WHERE  C.`config_id` =M.config_id  AND room_config_id = #{roomConfigId}
	</select>

</mapper>