<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.configureManager.dao.DictionaryDao">

	<select id="get" resultType="com.bootdo.configureManager.domain.DictionaryDO">
		select `dict_id`,`dict_number`,`dict_name`,`type_id`,`dict_desc`,`dict_sort`,`create_time`,`create_by`,`update_time`,`update_by`,`del_flag`,`remarks` from dictionary where dict_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.configureManager.domain.DictionaryDO">
		select `dict_id`,`dict_number`,`dict_name`,`type_id`,`dict_desc`,`dict_sort`,`create_time`,`create_by`,`update_time`,`update_by`,`del_flag`,`remarks` from dictionary
		<where>
			<if test="dictId != null and dictId != ''"> and dict_id = #{dictId} </if>
			<if test="dictNumber != null and dictNumber != ''"> and dict_number = #{dictNumber} </if>
			<if test="dictName != null and dictName != ''"> and dict_name = #{dictName} </if>
			<if test="typeId != null and typeId != ''"> and type_id = #{typeId} </if>
			<if test="dictDesc != null and dictDesc != ''"> and dict_desc = #{dictDesc} </if>
			<if test="dictSort != null and dictSort != ''"> and dict_sort = #{dictSort} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			<if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by dict_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from dictionary
		<where>
			<if test="dictId != null and dictId != ''"> and dict_id = #{dictId} </if>
			<if test="dictNumber != null and dictNumber != ''"> and dict_number = #{dictNumber} </if>
			<if test="dictName != null and dictName != ''"> and dict_name = #{dictName} </if>
			<if test="typeId != null and typeId != ''"> and type_id = #{typeId} </if>
			<if test="dictDesc != null and dictDesc != ''"> and dict_desc = #{dictDesc} </if>
			<if test="dictSort != null and dictSort != ''"> and dict_sort = #{dictSort} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
			<if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		</where>
	</select>

	<!--<insert id="save" parameterType="com.bootdo.system.domain.DictionaryDO" useGeneratedKeys="true" keyProperty="dictId">-->
		<!--insert into dictionary-->
		<!--(-->
		<!--`dict_number`,-->
		<!--`dict_name`,-->
		<!--`type_id`,-->
		<!--`dict_desc`,-->
		<!--`dict_sort`,-->
		<!--`create_time`,-->
		<!--`create_by`,-->
		<!--`update_time`,-->
		<!--`update_by`,-->
		<!--`del_flag`,-->
		<!--`remarks`-->
		<!--)-->
		<!--values-->
		<!--(-->
		<!--#{dictNumber},-->
		<!--#{dictName},-->
		<!--#{typeId},-->
		<!--#{dictDesc},-->
		<!--#{dictSort},-->
		<!--#{createTime},-->
		<!--#{createBy},-->
		<!--#{updateTime},-->
		<!--#{updateBy},-->
		<!--#{delFlag},-->
		<!--#{remarks}-->
		<!--)-->
	<!--</insert>-->

	<insert id="save" parameterType="com.bootdo.configureManager.domain.DictionaryDO">
		insert into dictionary
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="dictId != null">
				dict_id,
			</if>
			<if test="dictNumber != null">
				dict_number,
			</if>
			<if test="dictName != null">
				dict_name,
			</if>
			<if test="typeId != null" >
				type_id,
			</if>
			<if test="dictDesc != null">
				dict_desc,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="delFlag != null">
				del_flag,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="dictId != null">
				#{dictId,jdbcType=VARCHAR},
			</if>
			<if test="dictNumber != null">
				#{dictNumber,jdbcType=VARCHAR},
			</if>
			<if test="dictName != null">
				#{dictName,jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				#{typeId,jdbcType=VARCHAR},
			</if>
			<if test="dictDesc != null">
				#{dictDesc,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.bootdo.configureManager.domain.DictionaryDO">
		update dictionary
		<set>
			<if test="dictNumber != null">`dict_number` = #{dictNumber}, </if>
			<if test="dictName != null">`dict_name` = #{dictName}, </if>
			<if test="typeId != null">`type_id` = #{typeId}, </if>
			<if test="dictDesc != null">`dict_desc` = #{dictDesc}, </if>
			<if test="dictSort != null">`dict_sort` = #{dictSort}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="remarks != null">`remarks` = #{remarks}</if>
		</set>
		where dict_id = #{dictId}
	</update>

	<delete id="remove">
		delete from dictionary where dict_id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from dictionary where dict_id in
		<foreach item="dictId" collection="array" open="(" separator="," close=")">
			#{dictId}
		</foreach>
	</delete>

</mapper>