<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.configureManager.dao.TypeDao">

	<select id="get" resultType="com.bootdo.configureManager.domain.TypeDO">
		select `type_id`,`type_number`,`type_name`,`type_desc`,`create_time`,`create_by`,`update_time`,`update_by`,`can_edit` from dictionary_type where type_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.configureManager.domain.TypeDO">
		select `type_id`,`type_number`,`type_name`,`type_desc`,`create_time`,`create_by`,`update_time`,`update_by`,`can_edit` from dictionary_type
		<where>
			<if test="typeId != null and typeId != ''"> and type_id = #{typeId} </if>
			<if test="typeNumber != null and typeNumber != ''"> and type_number = #{typeNumber} </if>
			<if test="typeName != null and typeName != ''"> and type_name = #{typeName} </if>
			<if test="typeDesc != null and typeDesc != ''"> and type_desc = #{typeDesc} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="canEdit != null and canEdit != ''"> and can_edit = #{canEdit} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by type_id ASC
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from dictionary_type
		<where>
			<if test="typeId != null and typeId != ''"> and type_id = #{typeId} </if>
			<if test="typeNumber != null and typeNumber != ''"> and type_number = #{typeNumber} </if>
			<if test="typeName != null and typeName != ''"> and type_name = #{typeName} </if>
			<if test="typeDesc != null and typeDesc != ''"> and type_desc = #{typeDesc} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
			<if test="updateBy != null and updateBy != ''"> and update_by = #{updateBy} </if>
			<if test="canEdit != null and canEdit != ''"> and can_edit = #{canEdit} </if>
		</where>
	</select>

	<!--<insert id="save" parameterType="com.bootdo.system.domain.TypeDO" useGeneratedKeys="true" keyProperty="typeId">-->
		<!--insert into dictionary_type-->
		<!--(-->
		<!--`type_number`,-->
		<!--`type_name`,-->
		<!--`type_desc`,-->
		<!--`create_time`,-->
		<!--`create_by`,-->
		<!--`update_time`,-->
		<!--`update_by`,-->
		<!--`can_edit`-->
		<!--)-->
		<!--values-->
		<!--(-->
		<!--#{typeNumber},-->
		<!--#{typeName},-->
		<!--#{typeDesc},-->
		<!--#{createTime},-->
		<!--#{createBy},-->
		<!--#{updateTime},-->
		<!--#{updateBy},-->
		<!--#{canEdit}-->
		<!--)-->
	<!--</insert>-->

	<insert id="save" parameterType="com.bootdo.configureManager.domain.TypeDO">
		<!--
          WARNING - @mbggenerated
          Generated on 2018-07-31 17:46:59.
              根据传入的参数添加部分信息
        -->
		insert into dictionary_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="typeId != null">
				type_id,
			</if>
			<if test="typeNumber != null">
				type_number,
			</if>
			<if test="typeName != null">
				type_name,
			</if>
			<if test="typeDesc != null">
				type_desc,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="canEdit != null">
				can_edit,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="typeId != null">
				#{typeId,jdbcType=VARCHAR},
			</if>
			<if test="typeNumber != null">
				#{typeNumber,jdbcType=VARCHAR},
			</if>
			<if test="typeName != null">
				#{typeName,jdbcType=VARCHAR},
			</if>
			<if test="typeDesc != null">
				#{typeDesc,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="canEdit != null">
				#{canEdit,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="update" parameterType="com.bootdo.configureManager.domain.TypeDO">
		update dictionary_type
		<set>
			<if test="typeNumber != null">`type_number` = #{typeNumber}, </if>
			<if test="typeName != null">`type_name` = #{typeName}, </if>
			<if test="typeDesc != null">`type_desc` = #{typeDesc}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="updateBy != null">`update_by` = #{updateBy}, </if>
			<if test="canEdit != null">`can_edit` = #{canEdit}</if>
		</set>
		where type_id = #{typeId}
	</update>

	<delete id="remove">
		delete from dictionary_type where type_id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from dictionary_type where type_id in
		<foreach item="typeId" collection="array" open="(" separator="," close=")">
			#{typeId}
		</foreach>
	</delete>

</mapper>