<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="placeId" name="placeId" th:value="${placeManage.placeId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">地点简称：</label>
								<div class="col-sm-8">
									<input id="placeAbbreviation" name="placeAbbreviation" th:value="${placeManage.placeAbbreviation}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">地点地址：</label>
								<div class="col-sm-8">
									<input id="placeAddress" name="placeAddress" th:value="${placeManage.placeAddress}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">地点图片路径 ：</label>
								<div class="col-sm-8">
									<input id="placeImageId" name="placeImageId" th:value="${placeManage.placeImageId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">地点状态：</label>
								<div class="col-sm-8">
									<input id="placeStatus" name="placeStatus" th:value="${placeManage.placeStatus}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">地点描述：</label>
								<div class="col-sm-8">
									<input id="addressDesc" name="addressDesc" th:value="${placeManage.addressDesc}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">地点批注：</label>
								<div class="col-sm-8">
									<input id="annotation" name="annotation" th:value="${placeManage.annotation}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">包含会议室楼层：</label>
								<div class="col-sm-8">
									<input id="floorId" name="floorId" type="button" value="查看" onclick="seeFloor()">
								</div>
							</div>
									<!--					<div class="form-group">
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${placeManage.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人：</label>
								<div class="col-sm-8">
									<input id="createById" name="createById" th:value="${placeManage.createById}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人姓名：</label>
								<div class="col-sm-8">
									<input id="createByName" name="createByName" th:value="${placeManage.createByName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" th:value="${placeManage.updateTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改人：</label>
								<div class="col-sm-8">
									<input id="updateById" name="updateById" th:value="${placeManage.updateById}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改人姓名：</label>
								<div class="col-sm-8">
									<input id="updateByName" name="updateByName" th:value="${placeManage.updateByName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">是否删除：</label>
								<div class="col-sm-8">
									<input id="isDelete" name="isDelete" th:value="${placeManage.isDelete}" class="form-control" type="text">
								</div>
							</div>
										-->

							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/fhreservation/placeManage/edit.js">
	</script>
	<script type="text/javascript" src="/js/appjs/fhreservation/placeFloorManage/placeFloorManage.js"></script>
</body>
</html>
