<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.fuHuiBookManage.dao.ServiceManageTemplDao">

	<select id="get" resultType="com.bootdo.fuHuiBookManage.domain.ServiceManageTemplDO">
		select `templ_id`,`room_service_id`,`templ_sort`,`templ_name`,`temple_type`,`temple_dictionary_id`,`temple_is_required`,`temple_prompt`,`temple_describe`,`create_time`,`create_by_id`,`create_by_name`,`update_time`,`update_by_id`,`update_by_name`,`is_delete` from service_manage_templ where templ_id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.fuHuiBookManage.domain.ServiceManageTemplDO">
		select `templ_id`,`room_service_id`,`templ_sort`,`templ_name`,`temple_type`,`temple_dictionary_id`,`temple_is_required`,`temple_prompt`,`temple_describe`,`create_time`,`create_by_id`,`create_by_name`,`update_time`,`update_by_id`,`update_by_name`,`is_delete` from service_manage_templ
        <where>  
		  		  <if test="templId != null and templId != ''"> and templ_id = #{templId} </if>
		  		  <if test="roomServiceId != null and roomServiceId != ''"> and room_service_id = #{roomServiceId} </if>
		  		  <if test="templSort != null and templSort != ''"> and templ_sort = #{templSort} </if>
		  		  <if test="templName != null and templName != ''"> and templ_name = #{templName} </if>
		  		  <if test="templeType != null and templeType != ''"> and temple_type = #{templeType} </if>
		  		  <if test="templeDictionaryId != null and templeDictionaryId != ''"> and temple_dictionary_id = #{templeDictionaryId} </if>
		  		  <if test="templeIsRequired != null and templeIsRequired != ''"> and temple_is_required = #{templeIsRequired} </if>
		  		  <if test="templePrompt != null and templePrompt != ''"> and temple_prompt = #{templePrompt} </if>
		  		  <if test="templeDescribe != null and templeDescribe != ''"> and temple_describe = #{templeDescribe} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createById != null and createById != ''"> and create_by_id = #{createById} </if>
		  		  <if test="createByName != null and createByName != ''"> and create_by_name = #{createByName} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="updateById != null and updateById != ''"> and update_by_id = #{updateById} </if>
		  		  <if test="updateByName != null and updateByName != ''"> and update_by_name = #{updateByName} </if>
		  		  <if test="isDelete != null and isDelete != ''"> and is_delete = #{isDelete} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by templ_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from service_manage_templ
		 <where>  
		  		  <if test="templId != null and templId != ''"> and templ_id = #{templId} </if>
		  		  <if test="roomServiceId != null and roomServiceId != ''"> and room_service_id = #{roomServiceId} </if>
		  		  <if test="templSort != null and templSort != ''"> and templ_sort = #{templSort} </if>
		  		  <if test="templName != null and templName != ''"> and templ_name = #{templName} </if>
		  		  <if test="templeType != null and templeType != ''"> and temple_type = #{templeType} </if>
		  		  <if test="templeDictionaryId != null and templeDictionaryId != ''"> and temple_dictionary_id = #{templeDictionaryId} </if>
		  		  <if test="templeIsRequired != null and templeIsRequired != ''"> and temple_is_required = #{templeIsRequired} </if>
		  		  <if test="templePrompt != null and templePrompt != ''"> and temple_prompt = #{templePrompt} </if>
		  		  <if test="templeDescribe != null and templeDescribe != ''"> and temple_describe = #{templeDescribe} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createById != null and createById != ''"> and create_by_id = #{createById} </if>
		  		  <if test="createByName != null and createByName != ''"> and create_by_name = #{createByName} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="updateById != null and updateById != ''"> and update_by_id = #{updateById} </if>
		  		  <if test="updateByName != null and updateByName != ''"> and update_by_name = #{updateByName} </if>
		  		  <if test="isDelete != null and isDelete != ''"> and is_delete = #{isDelete} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.fuHuiBookManage.domain.ServiceManageTemplDO">
		insert into service_manage_templ
		(
			`templ_id`, 
			`room_service_id`, 
			`templ_sort`, 
			`templ_name`, 
			`temple_type`, 
			`temple_dictionary_id`, 
			`temple_is_required`, 
			`temple_prompt`, 
			`temple_describe`, 
			`create_time`, 
			`create_by_id`, 
			`create_by_name`, 
			`update_time`, 
			`update_by_id`, 
			`update_by_name`, 
			`is_delete`
		)
		values
		(
			#{templId}, 
			#{roomServiceId}, 
			#{templSort}, 
			#{templName}, 
			#{templeType}, 
			#{templeDictionaryId}, 
			#{templeIsRequired}, 
			#{templePrompt}, 
			#{templeDescribe}, 
			#{createTime}, 
			#{createById}, 
			#{createByName}, 
			#{updateTime}, 
			#{updateById}, 
			#{updateByName}, 
			#{isDelete}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.fuHuiBookManage.domain.ServiceManageTemplDO">
		update service_manage_templ 
		<set>
			<if test="roomServiceId != null">`room_service_id` = #{roomServiceId}, </if>
			<if test="templSort != null">`templ_sort` = #{templSort}, </if>
			<if test="templName != null">`templ_name` = #{templName}, </if>
			<if test="templeType != null">`temple_type` = #{templeType}, </if>
			<if test="templeDictionaryId != null">`temple_dictionary_id` = #{templeDictionaryId}, </if>
			<if test="templeIsRequired != null">`temple_is_required` = #{templeIsRequired}, </if>
			<if test="templePrompt != null">`temple_prompt` = #{templePrompt}, </if>
			<if test="templeDescribe != null">`temple_describe` = #{templeDescribe}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createById != null">`create_by_id` = #{createById}, </if>
			<if test="createByName != null">`create_by_name` = #{createByName}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="updateById != null">`update_by_id` = #{updateById}, </if>
			<if test="updateByName != null">`update_by_name` = #{updateByName}, </if>
			<if test="isDelete != null">`is_delete` = #{isDelete}</if>
		</set>
		where templ_id = #{templId}
	</update>
	
	<delete id="remove">
		delete from service_manage_templ where templ_id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from service_manage_templ where templ_id in 
		<foreach item="templId" collection="array" open="(" separator="," close=")">
			#{templId}
		</foreach>
	</delete>

</mapper>