<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="floorId" name="floorId" th:value="${placeFloorManage.floorId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">房间地点ID ：</label>
								<div class="col-sm-8">
									<input id="placeId" name="placeId" th:value="${placeFloorManage.placeId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">地点楼层号：</label>
								<div class="col-sm-8">
									<input id="floorNumber" name="floorNumber" th:value="${placeFloorManage.floorNumber}" class="form-control" type="text">
								</div>
							</div>
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">楼层平面图链接：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="floorPlanId" name="floorPlanId" th:value="${placeFloorManage.floorPlanId}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">地点楼层图片链接：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="floorImageId" name="floorImageId" th:value="${placeFloorManage.floorImageId}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">描述：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="floorDesc" name="floorDesc" th:value="${placeFloorManage.floorDesc}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">批注：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="annotation" name="annotation" th:value="${placeFloorManage.annotation}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">创建时间：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="createTime" name="createTime" th:value="${placeFloorManage.createTime}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">创建人：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="createById" name="createById" th:value="${placeFloorManage.createById}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">创建人姓名：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="createByName" name="createByName" th:value="${placeFloorManage.createByName}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">修改时间：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="updateTime" name="updateTime" th:value="${placeFloorManage.updateTime}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">修改人：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="updateById" name="updateById" th:value="${placeFloorManage.updateById}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">修改人姓名：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="updateByName" name="updateByName" th:value="${placeFloorManage.updateByName}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
														<!--<div class="form-group">	-->
								<!--<label class="col-sm-3 control-label">是否删除（Y-已删除），其他为未删除，默认为空：</label>-->
								<!--<div class="col-sm-8">-->
									<!--<input id="isDelete" name="isDelete" th:value="${placeFloorManage.isDelete}" class="form-control" type="text">-->
								<!--</div>-->
							<!--</div>-->
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/fhreservation/placeFloorManage/edit.js">
	</script>
</body>
</html>
