<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="optionalId" name="optionalId" th:value="${roomOptionalFloor.optionalId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">可选择地点ID ，关联人员房间可选择地点信息表（room_optional_place）中房间楼层ID（optional_floor_id）字段：</label>
								<div class="col-sm-8">
									<input id="optionalFloorId" name="optionalFloorId" th:value="${roomOptionalFloor.optionalFloorId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">房间楼层ID，关联房间地点楼层管理表（room_place_floor_manage）中楼层ID（floor_id）字段：</label>
								<div class="col-sm-8">
									<input id="roomFloorId" name="roomFloorId" th:value="${roomOptionalFloor.roomFloorId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">可选择房间ID ，关联人员可选择房间信息表（optional_room_id）中可选择房间ID（optional_room_id）字段：</label>
								<div class="col-sm-8">
									<input id="optionalRoomId" name="optionalRoomId" th:value="${roomOptionalFloor.optionalRoomId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${roomOptionalFloor.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人：</label>
								<div class="col-sm-8">
									<input id="createById" name="createById" th:value="${roomOptionalFloor.createById}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人姓名：</label>
								<div class="col-sm-8">
									<input id="createByName" name="createByName" th:value="${roomOptionalFloor.createByName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" th:value="${roomOptionalFloor.updateTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改人：</label>
								<div class="col-sm-8">
									<input id="updateById" name="updateById" th:value="${roomOptionalFloor.updateById}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改人姓名：</label>
								<div class="col-sm-8">
									<input id="updateByName" name="updateByName" th:value="${roomOptionalFloor.updateByName}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/fuHuiBookManage/roomOptionalFloor/edit.js">
	</script>
</body>
</html>
